/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /*===============================*/
    /*===============================*/
}/* END */
/* Small devices (landscape phones, 576px and up) */
/*===============================*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /*===============================*/
    /*===============================*/
}/* END */
/*===============================*/
@media (max-width: 767.98px) {
    /*===============================*/
    /*===============================*/
}/* END */